body {
  background-color: #2F2F2F;
}

.inputFields {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-box {
  border-radius: 15px;
  height: 40px;
  width: 300px;
  text-align: center;
  font-size: larger;
  margin-right: 10px;
}

.add-btn {
  height: 45px;
  width: 45px;
  border-radius: 80px;
  background-color: #FFCB74;
  border: 1px solid #FFCB74;
  font-size: xx-large;

}

.list-items {
  border: 1px solid #FFCB74;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #FFCB74;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.app-heading {
  color: #F6F6F6F6;
}